@import "../../scss/variables.scss";

.card__container {
    margin: 24px auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 272px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 36px;
    box-shadow: 0 4px 12px 0 rgba(46, 55, 77, 0.16);

    @media all and (min-width:1200px) {
        width: 100%;
        margin: 0;
    }
}

.card__event-date {
    font-size: 14px;
    margin-top: 162px;
    margin-bottom: 4px;
    line-height: 22px;
    color: $mediumGrey;
}

.card__event-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.card__event-place {
    font-size: 14px;
    line-height: 22px;
    color: $mediumGrey;
    margin-top: 8px;
}

