@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.event-list__container{

    @include flexContainer(flex, center, center, column);
    @media all and (min-width: $tablet) {
        display: flex;
        align-items: flex-end;
        margin-right: 130px;
    }
    @media all and (min-width:$desktop) {
        display: grid;
        grid-template-columns: 328px 328px;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 22px;
        grid-row-gap: 30px;
        height: 582px;
        padding-right: 43px;
        margin-right: 87px;
        overflow-y: scroll;
    }
}