@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.detail {
  position: relative;
}
.arrow-container {
  width: 48px;
  height: 48px;
  background-color: rgba(30, 10, 60, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 24px;
  top: 24px;
}
.detail-arrow {
  text-decoration: none;
  color: $whiteGhost;
}
.detail-photo {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@media all and (min-width: $tablet) {
  .arrow-container {
    background-color: $whiteGhost;
  }
  .detail-arrow {
    color: #4b4d63;
  }
  .detail-photo {
    box-shadow: 25px 20px 0px 0px ($darkBlue);
    object-position: top;
    max-width: 35vw;
  }
}

.event-detail {

    &__info-container{
        width: 272px;
        padding: 24px;
        margin: 0 0 24px 24px;
        background-color: $freeSalmon;
        color: $whiteGhost;
        text-align: left;

        @media all and (min-width: $tablet) {
            width: 600px;
            padding: 24px 0 0 24px;
            background-color: $whiteGhost;
            color: $darkBlue;
        }      
    }
    
    &__date {
        font-size: 14px;
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        margin: 24px 0;

        @media all and (min-width: $tablet) {
            font-size: 56px;
        }
    }

    &__calendar {
        font-size: 16px;
        text-decoration: underline;

        @media all and (min-width: $tablet) {
            color: $whiteGhost;
            text-decoration: none;
            font-weight: 600;
            position: absolute;
            bottom: 40px;
            z-index: 9;
        }
    }

    &__place {
        font-size: 14px;
        color: $blueKing;
        text-align: left;
        padding: 0 0 24px 24px;
        border-bottom: 1px solid $lightGrey;
    }

}

