@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.event-detail {

    &__info-container{
        width: 272px;
        padding: 24px;
        background-color: $freeSalmon;
        color: $whiteGhost;
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        margin: 24px 0;
    }

}