@import '../../scss/variables.scss';
@import "../../scss/mixins.scss";

.event-detail {
    &__info-container{
        width: 272px;
        padding: 24px;
        margin: 0 0 24px 24px;
        background-color: $freeSalmon;
        color: $whiteGhost;
        text-align: left;

        @media all and (min-width: $tablet) {
            width: 600px;
            padding: 24px 0 0 24px;
            background-color: $whiteGhost;
            color: $darkBlue;
        }      
    }
    
    &__date {
        font-size: 14px;
    }

    &__title {
        font-size: 32px;
        font-weight: 900;
        margin: 24px 0;

        @media all and (min-width: $tablet) {
            font-size: 56px;
        }
    }

    &__calendar {
        font-size: 16px;
        text-decoration: underline;

        @media all and (min-width: $tablet) {
            color: $whiteGhost;
            text-decoration: none;
            font-weight: 600;
            position: fixed;
            bottom: 40px;
            z-index: 9;
        }
    }

    &__place {
        font-size: 14px;
        color: $blueKing;
        text-align: left;
        padding: 0 0 24px 24px;
        border-bottom: 1px solid $lightGrey;
    }

    &__description{
        display: block;
        width: 272px;
        height: 100%;
        font-family: $font-primary;
        font-size: 16px;
        line-height: 1.5;
        color: $blueSea;
        text-align: left;
        padding: 0 48px;
        margin-bottom: 40px;
    
        @media all and (min-width: $tablet) {
            width: 600px; 
        }

        img {
            max-width: 100%;
        }

        a {
            color: $mediumOrange;
        }
    }
}
