@mixin flexContainer($display, $justifyContent, $alignItems, $flexDirection) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}