//FONTS
$font-primary: 'Roboto', sans-serif;

//COLOURS
$lightGrey: #e6e5ec;
$mediumGrey: #6f7287;
$coolGradient: #ffffff00;
$whiteGhost: #ffffff;
$blueKing: #3659e3;
$darkBlue: #1e0a3c;
$mediumBlue: #1e0a3c;
$lightWhite: #fff;
$freeSalmon: #f05537;
$whiteGhost: #ffffff;
$blueKing: #3659e3;
$mediumOrange: #d1410c;
$blueSea: #4b4d63;
$blackSheep: #000000;

// MEDIA QUERIES
$tablet: 768px ;
$desktop: 1400px;

