//FONTS
$font-primary: 'Roboto', sans-serif;

//COLOURS
$darkBlue: #1e0a3c;
$lightGrey: #e6e5ec;
<<<<<<< HEAD
=======
$mediumGrey: #6f7287;

>>>>>>> 16be1ec80de3b1fc58d1fd6717fb60e840fe2557
$freeSalmon: #f05537;
$whiteGhost: #ffffff;
$blueKing: #3659e3;
$mediumGrey: #6f7287;
$mediumBlue: #1e0a3c;
$lightWhite: #fff;
$mediumOrange: #d1410c;
$blueSea: #4b4d63;

// MEDIA QUERIES
$tablet: 768px ;
$desktop: 1400px ;
